@keyframe scroll{
    0% {
        background-position: 0 %;
    }
    100% {
        background-position: 100%;
    }
}

.layer{
    min-height: 500px;
    width: 200%;/*ver esto y backgrounde repeat-x*/
    height: 100%; /*nunca ancho y alto a una imagen para que no se estire, esto es un div*/
    position:absolute;
    top:0;
    left:0;
    background-repeat: repeat-x;
    background-size: cover;
}

.layer-10{
background-image: url("./assets/1.Backround.png"); /* (10,png) */
animation: scroll 20s infinite linear;/*va cambiando los tiempos en los distintos div, */
z-index: 0;
}

.layer-9{
    background-image: url("./assets/2.Trees_back.png"); /* (10,png) */
    animation: scroll 18s infinite linear;/*va cambiando los tiempos en los distintos div, */
    z-index: 0;
}
    

.layer-8{
    background-image: url("./assets/3.Trees_back.png"); /* (10,png) */
    animation: scroll 15s infinite linear;/*va cambiando los tiempos en los distintos div, */
    z-index: 0;
}

.layer-7{
    background-image: url("./assets/3.Trees_front.png"); /* (10,png) */
    animation: scroll 10s infinite linear;/*va cambiando los tiempos en los distintos div, */
    z-index: 0;
}

.layer-6{
    background-image: url("./assets/4.Ground.png"); /* (10,png) */
    animation: scroll 5s infinite linear;/*va cambiando los tiempos en los distintos div, */
    z-index: 0;
}