/* ------------------------------------------------------ */
/* efecto para la imagen del game-preview                 */
/* ------------------------------------------------------ */
.faded-blur {
    opacity: 0.3;
    filter: blur(4px);
    transition: all 0.5s ease;
}

/* ------------------------------------------------------ */
/* SENKU                                                  */
/* ------------------------------------------------------ */

#senku-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: auto; /* ← permitir interacción */
}

#senkuCanvas {
    /* Define el tamaño exacto del canvas */
    width: 630px;
    height: 630px;
    /* La clave es poner el fondo aquí */
    background-image: url('../img/tablero_moderno.svg');
    background-size: cover; /* Ajusta la imagen al tamaño del canvas */
    background-repeat: no-repeat;
}


